<div class="container mt-5">
  <h2 class="text-center text-primary">Dashboard</h2>

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />

  <!-- Tarjetas de KPIs -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card bg-primary text-white shadow">
        <div class="card-body">
          <h5>Total Ventas</h5>
          <h3>${{ totalSales.toFixed(2) }}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-success text-white shadow">
        <div class="card-body">
          <h5>Producto Más Vendido</h5>
          <h3>{{ mostSoldProduct }}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-warning text-white shadow">
        <div class="card-body">
          <h5>Mejor Vendedor</h5>
          <h3>{{ bestSeller }}</h3>
        </div>
      </div>
    </div>
  </div>

  
  </div>

  <!-- Gráficos -->
  <div class="row mt-4">
    <div class="col-md-6">
      <h4 class="text-center text-danger">Quejas vs Entrenamientos</h4>
      <canvas #supportChart style="width: 100%; height: 400px;"></canvas>
    </div>

    <div class="col-md-6">
      <h4 class="text-center text-warning">Ventas por Categoría</h4>
      <canvas #salesByCategoryChart style="width: 100%; height: 400px;"></canvas>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6">
      <h4 class="text-center text-success">Ventas por Cliente</h4>
      <canvas #salesChart style="width: 100%; height: 400px;"></canvas>
    </div>

    <div class="col-md-6">
      <h4 class="text-center text-info">Ventas por Fecha</h4>
      <canvas #salesByDateChart style="width: 100%; height: 400px;"></canvas>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-md-6 d-flex flex-column align-items-center">
      <h4 class="text-center text-primary">Ventas por Usuario</h4>
      <canvas #salesByUserChart style="width: 100%; height: 400px;"></canvas>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center">
      <h4 class="text-center text-secondary">Mapa de Ventas</h4>
      <div #map style="height: 400px; width: 100%;"></div>
    </div>
  </div>
  
