table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  
  img {
    max-width: 100%;
    border-radius: 5px;
  }
  