/* Estilo para el estado */
.badge {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  text-transform: capitalize; /* Capitalizar los estados */
}

/* Colores de estado */
.bg-success {
  background-color: #28a745 !important; /* Verde para "Complete" */
  color: white !important;
}

.bg-danger {
  background-color: #dc3545 !important; /* Rojo para "Incomplete" */
  color: white !important;
}

.bg-warning {
  background-color: #ffc107 !important; /* Amarillo para "Pending" */
  color: black !important;
}
