<h2>Crear Producto</h2>

<!-- Modal de Mensaje -->
<div
  class="modal fade"
  [ngClass]="{ show: isModalVisible }"
  [ngStyle]="{ display: isModalVisible ? 'block' : 'none', opacity: isModalVisible ? '1' : '0' }"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content"
      [ngClass]="modalType === 'success' ? 'bg-success text-white' : 'bg-danger text-white'"
    >
      <div class="modal-header">
        <h5 class="modal-title">
          {{ modalType === 'success' ? 'Éxito' : 'Error' }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="isModalVisible = false"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="isModalVisible = false"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>


<form (ngSubmit)="createProduct()" #productForm="ngForm" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre:</label>
    <input
      id="name"
      type="text"
      class="form-control"
      [(ngModel)]="product.name"
      name="name"
      required
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Descripción:</label>
    <input
      id="description"
      type="text"
      class="form-control"
      [(ngModel)]="product.description"
      name="description"
      required
    />
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Precio:</label>
    <input
      id="price"
      type="number"
      class="form-control"
      [(ngModel)]="product.price"
      name="price"
      required
    />
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Imagen:</label>
    <input
      id="image"
      type="file"
      class="form-control"
      (change)="onImageSelected($event)"
      name="image"
    />
  </div>

  <!-- Selección de cliente -->
  <div class="mb-3">
    <label for="clientId" class="form-label">Cliente:</label>
    <select
      id="clientId"
      class="form-select"
      [(ngModel)]="selectedClient"
      name="clientId"
      required
    >
      <option *ngFor="let client of clients" [value]="client.id">
        {{ client.nombre }} - {{ client.categoria }}
      </option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">
    Crear Producto
  </button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
</form>
